body {
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--panels);
    width: max-content;
    padding: 3rem;
    border-radius: 25px;
    gap: 5rem;
    min-width: 60%;
    min-height: 50%;
    justify-content: space-around;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 50%;
    font-size: 20px;
    margin: 3rem 0;
    align-items: center;
}

#mailDiv,
#passwdDiv,
#confirmPasswdDiv {
    gap: .7rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#mailDiv input,
#passwdDiv input,
#confirmPasswdDiv input {
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid var(--primary);
    padding: .8rem;
    padding-left: 1.2rem;
    font-size: 18px;
    width: 100%;
}

#btnLogin {
    background-color: var(--primary);
    border-radius: 15px;
    border: none;
    padding: .8rem;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
    width: 100%;
}

#accountOptions i {
    color: var(--primary);
    font-size: 30px;
}

#accountOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 600px) and (max-width: 995px) {
    #panel h1 {
        display: none;
    }

    form {
        width: 100%;
    }

    #panel {
        padding: 1.5rem;
        width: 90%;
    }
}

/*Responsividade celulares*/
@media screen and (min-width: 0) and (max-width: 599px) {
    #panel h1 {
        display: none;
    }

    form {
        width: 100%;
    }

    #panel {
        padding: 1.5rem;
        width: 90%;
    }
}