@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;800;900&display=swap');


:root {
    --primary: #853FCC;
    --secondary: #256FFF;
    --panels: #1D1D1D;
    --background: #202020;
    --font: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: 0.3s;
    color: var(--font);
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background);
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: fit-content;
    justify-content: space-between;
    margin: 1vh 1vw;
}

#navBar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--panels);
    width: 18%;
    height: 100%;
    /* margin: 0 .6rem; */
    padding: 3rem .5rem;
    border-radius: 15px;
}

#navProfile img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
}

.navDivisor {
    background-color: var(--primary);
    width: 75%;
    height: 3px;
    border: none;
    border-radius: 400px;
    margin: 2rem 0;
}

#navLinks {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    gap: .8rem;
}


.currentSelected {
    color: var(--font);
    font-weight: 600;
    border-bottom: 3px solid var(--primary);
}


/* Overflow ---------------------- */

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--panels);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 40px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}