#newPost {
    border-radius: 15px;
    border: 2px solid var(--primary);
    background-color: transparent;
    padding: 1.2rem 10rem;
    /* margin-top: 1.4rem;
    margin-right: 1rem; */
}

#newPost h1 {
    font-weight: 500;
    font-size: 22px;
    color: var(--primary);
    text-align: center;
}

main {
    width: 50%;
    overflow-y: auto;
    padding-right: 30px;
}

#mobileNavBar {
    display: none;
}


.post {
    background-color: var(--panels);
    border-radius: 15px;
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
}

.postHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.2rem;
}

.postHeader h1 {
    font-size: 20px;
    font-weight: 600;
}


.postHeader img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.postFollowButton {
    padding: .7rem;
    border: 2px solid var(--primary);
    border-radius: 25px;
    font-size: 13px;

}

.postHeaderUser {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.2rem;
    align-items: center;
}

.postHeaderUser h1 {
    font-size: 18px;
}

.postHeaderUser p {
    font-size: 15px;
}

.postContent img {
    width: 100%;
    border-radius: 15px;
}

.postContent {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    flex-wrap: nowrap;
}

.postFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;
}

.postInteractions i {
    font-size: 20px;
    font-weight: 100;
}

.viewComments {
    text-align: center;
    font-size: 20px;
}


aside {
    width: 18%;
    background-color: var(--panels);
    border-radius: 15px;
}

#asideFollowers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    gap: 1rem;
    height: 87%;
}

.asideUser a {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.asideUser img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}


#asideTitle {
    text-align: center;
    margin: 2rem 0;
}

@media screen and (min-width: 600px) and (max-width: 1598px) {
    aside {
        display: none;
    }

    main {
        width: 70%;
        margin-right: 8%;
    }
}

/*Responsividade tablets*/
@media screen and (min-width: 600px) and (max-width: 995px) {
    aside {
        display: flex;
    }

    #mobileNavBar {
        width: 100%;
        position: fixed;
        width: 100%;
        height: 6%;
        background-color: var(--background);
        bottom: 0rem;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #navBar {
        display: none;
    }

    #navProfile img {
        display: none;
    }

    #postsContainer {
        margin: 0;
        height: fit-content;
        overflow: visible;
    }

    main {
        width: 100%;
        height: fit-content;
        overflow: auto;
        padding: 0;
    }

    aside {
        width: 100%;
        /* position: relative; */
        /* top: -100vh; */
    }

    #asideTitle {
        display: none;
    }

    #asideFollowers {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        width: 95vw;
        padding: 1rem;
    }

    .asideUserInfo {
        display: none;
    }

    body {
        flex-direction: column-reverse;
        gap: 1rem;
        flex-wrap: nowrap;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        margin-left: 40px;
    }
}

/*Responsividade celulares*/
@media screen and (min-width: 0) and (max-width: 599px) {
    aside {
        display: flex;
    }

    #mobileNavBar {
        width: 100%;
        position: fixed;
        width: 100%;
        height: 6%;
        background-color: var(--background);
        bottom: 0rem;
        font-size: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #navBar {
        display: none;
    }

    #navProfile img {
        display: none;
    }

    #postsContainer {
        margin: 0;
        height: fit-content;
        overflow: visible;
    }

    main {
        width: 100%;
        height: fit-content;
        overflow: auto;
        padding: 0;
        margin-bottom: 3rem;
    }

    aside {
        width: 100%;
        /* position: relative; */
        /* top: -100vh; */
    }

    #asideTitle {
        display: none;
    }

    #asideFollowers {
        flex-direction: row;
        overflow-y: hidden;
        overflow-x: auto;
        width: 95vw;
        padding: 1rem;
    }

    .asideUserInfo {
        display: none;
    }

    body {
        flex-direction: column-reverse;
        gap: 1rem;
        flex-wrap: nowrap;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        margin-left: 40px;
    }
}